.stock-card {
	background-color: white;
	padding: 15px;
	color: black;
	margin-bottom: 25px;
}

.stock-header {
	font-size: 18pt;
}

.stock-stat {
	font-size: 20pt;
}

.stock-footer {
	font-size: 10pt;
}

.closed {
	font-size: 10pt;
}

.align-right {
	text-align: right;
}
