.stock-card {
	background-color: white;
	padding: 15px;
	color: black;
}

.stock-header {
	font-size: 18pt;
}

.stock-stat {
	font-size: 20pt;
}

.stock-footer {
	font-size: 10pt;
}

.trade-btn {
	margin-top: -10px;
}
.closed {
	font-size: 10pt;
	margin-bottom: 20px;
}

.align-right {
	text-align: right;
}

hr {
	margin-top: 30px;
}
