.login-card {
	color: #212529;
}

.card-title {
	text-align: center;
	font-size: 20pt;
	margin-bottom: 20px;
}

.type-link {
	color: blue;
}

.type-text {
	text-align: center;
}

.error {
	color: red;
}
