.d-nav-item {
	margin-left: 30px;
	text-decoration: none;
	color: #8f9193;
	margin-top: 4px;
}

body {
	background-color: #0f3460;
	color: #d8e9a8;
}

.logout:hover {
	color: red;
}

.current-page {
	color: #0c55c1;
}

.page {
	padding: 5% 3%;
}

.logo {
	font-family: "Courier New", Courier, monospace;
	font-weight: bold;
	font-size: 18pt;
}
