.d-nav-item {
	margin-left: 30px;
	text-decoration: none;
	color: #8f9193;
	margin-top: 4px;
}

body {
	background-color: #0f3460;
	color: #d8e9a8;
}

.navbar {
	margin-bottom: 5%;
}

.logout:hover {
	color: red;
}
